language: python
python:
  - 2.6
  - 2.7
  - 3.3
matrix:
  allow_failures:
    - python: 3.3
install:
  - sudo apt-get build-dep -qq python-gevent
  - pip install -r requirements.txt --use-mirrors
script: python setup.py test
